body {
  background-color: white;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #aed9f7;
}

section {
  padding-top: 5rem;
}

#edu-background {
  background-color: #aed9f7;
}

#about p {
  text-align: justify;
}

#skills {
  background-color: #aed9f7;
}

#exp {
  background-color: #fff;
}
#hobies {
  background-color: #fff;
}

footer {
  position: relative;
  background-color: white;
}

@media screen and (max-width: 768px) {
  #contact p {
    text-align: center;
  }
}
